<p id="notice"><%= notice %></p>

<center><h1>Editing Stats</h1></center>

<div class = "pet_info">
	<div class = "pet_pic">
		<%= image_tag @img_string, width: "100%", height: "100%" %>
	</div>
</div>

<div class="profile_info">Coming soon!</div>