/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  box-sizing: border-box;
}

/* todo: Responsive layout */


body {
  font-family: "Lato", sans-serif;
}

html, body { height: 100%; width: 100%; margin: 0; }




/* Style the header */
.header {
  text-align: center;
  background: #1abc9c;
  color: white;
  padding: 5px;
  border-bottom:10px solid #7d4d30;
}

.sidebar {
  width: 20%;
  background-color:#d7aa8f;
  height: 100%;
  min-height: wrap-content;
  min-width: wrap-content;
  overflow-x: hidden;
  float: left;
  z-index: 1;
  border:10px solid #7d4d30;
  -webkit-border-bottom-left-radius: 20px!important;
  -webkit-border-bottom-right-radius: 20px!important;
  border-bottom-left-radius: 20px!important;
  border-bottom-right-radius: 20px!important;
}

.userprofilesidebar {
  padding: 5px 5px 5px 5px;
}
.userprofileboxsidebar {
  padding: 10px;
  background-color: #FFFFFF;
  height: wrap-content;
  -webkit-border-radius: 10px!important;
  border-radius: 10px!important;
  margin:5px;
}
.useravatarsidebar {
  width: 50px;
  float:left;
}
.userinfosidebar {
  padding-left: 55px;
}
.petsidebar {
  padding: 5px 5px 5px 10px;
}
.sidenav {

}
.sidenav a {
  padding: 5px 5px 5px 10px;
  text-decoration: none;
  font-size: 25px;
  color: #07496f;
  display: block;
}

.sidenav a:hover {
  color: #FFFFFF;
}

.mainbody {
  padding-left: 21%;
  width: 100%;
}
