//for new

.petartbox {
  height: 100%;
  min-height: wrap-content;
  width: 300px;
  margin: 5px;
  float: left;
  z-index: 1;
  overflow-x: hidden;
}

.selectorbox {
  height: 100%;
  min-height: wrap-content;
  margin-left: 350px;
  z-index: 1;
  overflow-x: hidden;
}

h3 {
  margin-top:20px;
  margin-bottom:5px;
}

.elementselector .lineartselector  {
  min-height: wrap-content;
  z-index: 0;
  overflow-x: hidden;

  img {
    float: left;
  }
}

.colorselector  {
  min-height: wrap-content;
  z-index: 0;
  overflow-x: hidden;
  img {
    float: left;
  }
}

//for show

.pet_info {
  float: left;
  width: 45%;
}

.profile_info {
  margin-left: 10px;
  width: 40%;
  float: left;
}

.pet_name {
}

.pet_pic {
  background:#d7aa8f;
  padding:15px;
  border:10px solid #7d4d30;
  margin-top:10px;
  -webkit-border-radius: 20px!important;
  border-radius: 20px!important
}

.profile_outer_info {
  background:#7d4d30;
  padding:10px;
  -webkit-border-radius: 20px!important;
  margin-top: 10px;
}
.profile_inner_info{
  background:#d7aa8f;
  padding:10px;
  border:10px solid #d7aa8f;
  margin-top:10px;
  -webkit-border-radius: 20px!important;
  border-radius: 20px!important
}

.info_outline {

}



